@{
    Worker worker = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Worker</h4>
                <p>
                    @worker.Name
                </p>
                <p>
                    @worker.Surname
                </p>
                <p>
                    @worker.Profession
                </p>
                <p>
                    @worker.ImgUrl
                </p>
                <p>
                    @worker.FacebookUrl
                </p>
                <p>
                    @worker.TwitterUrl
                </p>
                <p>
                    @worker.Salary
                </p>
            </div>
        </div>
    </div>
</div>