@{
    Blog blog = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog</h4>
                <p>
                    @blog.Name
                </p>
                <p>
                    @blog.PublishDate
                </p>
                <p>
                    @blog.PublisherName
                </p>
                <p>
                    @blog.Content
                </p>
                <p>
                    @blog.ImageUrl
                </p>
                <p>
                    @blog.Tag.Name
                </p>
            </div>
        </div>
    </div>
</div>